// Optimized Bootstrap imports - only include what we actually use
// This reduces unused CSS significantly (from ~200KB to ~80KB)

// Required - needed for all other components
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & grid (heavily used)
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";

// Components we use via React Bootstrap
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/close";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities API (generates utility classes)
@import "~bootstrap/scss/utilities/api";

// Excluded components we don't use:
// - accordion, breadcrumb, card, carousel, offcanvas, pagination,
// - placeholder, progress, scrollspy, toast, tooltip, tables, etc.

body {
  margin-top: 4.5rem;
  margin-bottom: 2rem;
}

// Ensure react-toastify styles are properly isolated
.Toastify__toast-container {
  z-index: 9999 !important;
}

.Toastify__toast {
  font-family: inherit !important;
  border-radius: 4px !important;
}

.Toastify__toast--error {
  background-color: #dc3545 !important;
}

.Toastify__toast--success {
  background-color: #28a745 !important;
}

.Toastify__toast--info {
  background-color: #17a2b8 !important;
}

.Toastify__toast--warning {
  background-color: #ffc107 !important;
  color: #212529 !important;
}

.navbar {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url('./hamburger.svg')
}

.no-border-right {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.no-border-left {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.no-border-sides {
  border-right: none;
  border-left: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.router-link:link,
.router-link:visited,
.router-link:hover,
.router-link:active {
  color: black;
  text-decoration: none;
}

.list-item-row {
  @include media-breakpoint-down(xs) {
    margin-right: -45px;
  }
}

.list-item-multi-divider {
  border-right: 1px solid lightgray;
  height: 100%;

  @include media-breakpoint-down(xs) {
    margin-right: -22px;
  }

  @include media-breakpoint-up(sm) {
    margin-right: -15px;
  }
}

.list-item-title {
  @include media-breakpoint-down(xs) {
    margin-left: 1rem;
  }
}

.list-item-content {
  white-space: pre-line;
}

.list-item-buttons {
  @include media-breakpoint-up(xs) {
    margin-right: 2px;
  }

  @include media-breakpoint-up(sm) {
    margin-right: 33px;
  }
}

.list-multi-created-at {
  @include media-breakpoint-up(lg) {
    margin-right: 31px;
    margin-left: -64px;
  }

  @include media-breakpoint-up(xl) {
    margin-right: 38px;
    margin-left: -71px;
  }

  @include media-breakpoint-up(xxl) {
    margin-right: 47px;
    margin-left: -80px;
  }
}

.list-multi-buttons {
  @include media-breakpoint-down(sm) {
    margin-left: -2px;
  }

  @include media-breakpoint-down(lg) {
    margin-left: -33px;
  }
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
}

// TODO: can these be combined?
.list-item-list-group-item {
  display: block;
}

.list-list-group-item {
  display: block;
}

.refused-list-list-group-item {
  display: block;
}

.users-list-list-group-item {
  display: block;
}

.multi-select-check {
  position: absolute;
  top: 40%;
  left: 4%;
}

// TODO: compare ListForm and ListItemForm, any others?
#form-collapse {
  padding: 7;
}

#filter-title {
  line-height: 2.5rem;
  margin-right: 1rem;
}

#filter-button {
  margin-right: 1rem;
}

#no-filter {
  cursor: not-allowed;
}

.list-button-disabled {
  pointer-events: none;
  opacity: 0.3;
}

.list-button-enabled {
  pointer-events: auto;
  opacity: 1;
}

.merge-modal-confirm-enabled {
  pointer-events: auto;
}

.merge-modal-confirm-disabled {
  pointer-events: none;
}
